.about {
    padding-top:100px;
    @include introduce (102px, 50px, $b, $b);
    @media (max-width: 575.98px) { 
        padding-top:30px;
        .introduce {
            margin-bottom:15px;
            &-title {
                margin-bottom:25px;
            };
        };
    };
    @media (min-width: 576px) and (max-width: 767.98px) {
        padding-top:50px;
        .introduce {
            margin-bottom:40px;
            &-title {
                margin-bottom:25px;
            };
        };
    };
    @media (min-width: 768px) and (max-width: 991.98px) { 
        padding-top:70px;
        .introduce {
            margin-bottom:40px;
            &-title {
                margin-bottom:30px;
            };
        };
    };

    .description {
        @media (max-width: 575.98px) { 
            margin-bottom: 20px;
        };
        @media (min-width: 576px) and (max-width: 767.98px) {
            margin-bottom: 40px;
        };
        @media (min-width: 768px) and (max-width: 991.98px) { 
            margin-bottom: 40px;
        };
        
        
        &-text {
            @include font-style($lato-r, 16px, #505050); 
            line-height: 1.375;
            text-align: justify;
            margin-bottom: 41px;
            @media (max-width: 575.98px) {             
                text-align: center;
            };
            @media (min-width: 576px) and (max-width: 767.98px) {
                text-align: center;
            };
        };

        .toggles {
            .card {
                margin-bottom: 10px;
            }
            .card-header {
                padding: 0px;



                &:hover{
                    .btn-link {
                        color:$r;
                    }
                }

                .btn-link {
                    @include font-style($raleway-m,20px,#262626);
                    text-decoration: none;
                    padding: 0px;


                    &:focus {
                        color:$r;
                    };

                    .fa-plus-circle {
                        padding: 12px 20px;
                        border-right: 1px solid #e7e7e7;
                        margin-right: 30px;
                    }
                }
            }
        };

    };

    .hexagons-img {
       
        position: relative;
        display: flex;
        align-items: center;
        justify-content: center;

        @media (max-width: 575.98px) { 
            margin-bottom: 20px;
        };
        @media (min-width: 576px) and (max-width: 767.98px) {
            margin-bottom: 40px;
        };
        @media (min-width: 768px) and (max-width: 991.98px) { 
            margin-bottom: 40px;
        };

        .left-hexagon {
            position: absolute;
            left: 0px;

            @media (max-width: 575.98px) { 
                width: 40%;
            };
        };

        .right-hexagon {
            position: absolute;
            right: 0px;
            @media (max-width: 575.98px) { 
                width: 40%;
            };
        };

        .center-hexagon-wrapper {
            display: flex;
            justify-content: center;
            position: relative;
            z-index: 890;


            @include hexagon (370px,  370px, $w, 0px);
            @media (max-width: 575.98px) { 
                @include hexagon (215px,  215px, $w, 0px);
            };
            .center-hexagon {
                position: absolute;
                top:5px;
                left: 50%;
                transform: translateX(-50%);
               
                @media (max-width: 575.98px) { 
                    top: 7px;
                    width: 110%;
                    height: 95%;
                    @include hexagon (255px,  255px, $r, 0px);
                };
            };

        };
    
    };

    .scrollbar-wrapper {
        margin: 95px 0px;
        display: flex;
        justify-content: center;
        align-items: center;
        position: relative;

        @include scroll-bar (20px, 20px, $b, absolute, 0,0px);
    };

    .flat-design-wrapper {
        text-align: center;
        margin-bottom: 100px;
        @media (max-width: 575.98px) { 
            margin-bottom: 20px;
        };
        @media (min-width: 768px) and (max-width: 991.98px) { 
            margin-bottom: 50px;
        };

        .item {
            @media (max-width: 575.98px) { 
                margin-bottom: 20px;
            };
            @media (min-width: 768px) and (max-width: 991.98px) { 
                margin-bottom: 30px;
            };

            &__icon {
                position: relative;
                margin-bottom:35px;
                @media (max-width: 575.98px) { 
                    margin-bottom: 5px;
                };
                @media (min-width: 768px) and (max-width: 991.98px) { 
                    margin-bottom: 20px;
                };
                @include hexagon(90px,90px,$w,auto);
                
                .hexagon {

                    border:1px solid black;

                    &::after {
                        border-top:1px solid black;
                        border-bottom:1px solid black;
                    };
                    &::before {
                        border-top:1px solid black;
                        border-bottom:1px solid black;
                    }
                };

                .simbol {
                    
                    font-size: 30px;
                    position: absolute;
                    top: 50%;
                    left:51%;
                    transform: translate(-50%, -50%);
                };

                &:hover {
                    color:$w;
                    @include hexagon(90px,90px,$r,auto);
                };
            };

            &__title {
                @include font-style ($raleway-m,20px);
                margin-bottom:28px;
                @media (max-width: 575.98px) { 
                    margin-bottom: 10px;
                };
                @media (min-width: 768px) and (max-width: 991.98px) { 
                    margin-bottom: 25px;
                };
            };

            &__text {
                @include font-style ($lato-r,16px,#505050);
                line-height: 1.375;
                text-align: center;                                  
            };
        };
    };
};