.about {
    padding-top:100px;
  
    .introduce {
        text-align: center;
        margin-bottom:102px;

        &__title {
            @include font-style($raleway-bo, 30px, $b);
            margin-bottom: 50px;

            &_colored {
                color:$r;
            };
        };

        &__text {
            @include font-style($lato-bo, 16px, $b);
            &_colored {
                color:$r;
            };
        };
    };

    .description {
        text-align: unset;

        .toggles {
            .card {
                margin-bottom: 10px;
            }
            .card-header {
                padding: 0px;



                &:hover{
                    .btn-link {
                        color:$r;
                    }
                }

                .btn-link {
                    @include font-style($raleway-m,20px,#262626);
                    text-decoration: none;
                    padding: 0px;


                    &:focus {
                        color:$r;
                    };

                    .fa-plus-circle {
                        padding: 12px 20px;
                        border-right: 1px solid #e7e7e7;
                        margin-right: 30px;
                    }
                }
            }
            
    
        };

    };

    .hexagons-img {
        position: relative;
        height: 370px;
        
        .left__hexagon {
            position: absolute;
            left: 0px;
        };

        .center__hexagon-wrapper{
            position: absolute;
            left: 50%;
            transform: translateX(-50%);
            top: -20px;
            z-index: 1;
            
            .hexagon-wrapper {
                width: 370px;
                height: 370px;
                text-align: center;
                position: relative;
                display: inline-block;
    
                .hexagon {
                    background-color:$r;
                    height: 100%;
                    width: calc(100% * 0.57735);
                    display: inline-block;
        
                    &::before {
                        position: absolute;
                        top: 0;
                        right: calc((100% / 2) - ((100% * 0.57735) / 2));
                        background-color: inherit;
                        height: inherit;
                        width: inherit;
                        content: '';
                        transform: rotateZ(60deg);
                    }
        
                    &::after {
                        position: absolute;
                        top: 0;
                        right: calc((100% / 2) - ((100% * 0.57735) / 2));
                        background-color: inherit;
                        height: inherit;
                        width: inherit;
                        content: '';
                        transform: rotateZ(-60deg);
                    }
                };
    
                .center__hexagon {
                    position: absolute;
                    left: -23px;
                    top: 5px;
                };
            };

        };

        .right__hexagon {
            position: absolute;
            right: 0px;
        }
        

    };

    .scrollbar {
        margin: 95px 0px;
        display: flex;
        justify-content: center;
        align-items: center;

        .hexagon-wrapper {
        width: 20px;
        height: 20px;
        text-align: center;
        position: relative;
        display: inline-block;
        
        };

        .hexagon {
            height: 100%;
            width: calc(100% * 0.57735);
            display: inline-block;
            background-color:$b;
        };
        
        .hexagon:before {
            position: absolute;
            top: 0;
            right: calc((100% / 2) - ((100% * 0.57735) / 2));
            background-color: inherit;
            height: inherit;
            width: inherit;
            content: '';
            transform: rotateZ(60deg);
        };
        
        .hexagon:after {
            position: absolute;
            top: 0;
            right: calc((100% / 2) - ((100% * 0.57735) / 2));
            background-color: inherit;
            height: inherit;
            width: inherit;
            content: '';
            transform: rotateZ(-60deg);
        };

        &_side{
            border:1px solid $b;
            width:248px;
        };
    };

    .flat-design-wrapper {
        text-align: center;
        margin-bottom: 100px;
        
        .item {
         
            &__icon {
                position: relative;
                margin-bottom:35px;

                @include hexagon(90px,90px,$w,auto);
                
                .hexagon {

                    border:1px solid black;

                    &::after {
                        border-top:1px solid black;
                        border-bottom:1px solid black;
                    };
                    &::before {
                        border-top:1px solid black;
                        border-bottom:1px solid black;
                    }
                };

                .simbol {
                    
                    font-size: 30px;
                    position: absolute;
                    top: 50%;
                    left:51%;
                    transform: translate(-50%, -50%);
                };

                &:hover {
                    color:$w;
                    @include hexagon(90px,90px,$r,auto);
                };
            };

            &__title {
                @include font-style ($raleway-m,20px);
                margin-bottom:28px;
            };

            &__text {
                @include font-style ($lato-r,16px,#505050);
                .Lorem_ipsum_dolor_sit_amet_cras_vitae_sodales_a {
                    line-height: 1.375;
                    text-align: center;
                };
                  
            };
        };
    };
};