.about {
    padding:100px 15px 0px 15px;
    @include introduce (102px, 50px, $b, $b);
    @media (max-width: 575px) { 
        padding-top:30px;
        .introduce {
            margin-bottom:15px;
            &-title {
                margin-bottom:25px;
            };
        };
    };
    @media (min-width: 576px) and (max-width: 767px) {
        padding-top:50px;
        .introduce {
            margin-bottom:40px;
            &-title {
                margin-bottom:25px;
            };
        };
    };
    @media (min-width: 768px) and (max-width: 991px) { 
        padding-top:70px;
        .introduce {
            margin-bottom:40px;
            &-title {
                margin-bottom:30px;
            };
        };
    };

    .description {
        @include font-style($lato-r,16px,$bl-light);
        @media (max-width: 575px) { 
            margin-bottom: 20px;
        };
        @media (min-width: 576px) and (max-width: 767px) {
            margin-bottom: 40px;
        };
        @media (min-width: 768px) and (max-width: 991px) { 
            margin-bottom: 40px;
        };
        
        
        &-text {
            @include font-style($lato-r, 16px, $bl-light); 
            line-height: 1.375;
            text-align: justify;
            margin-bottom: 41px;
            @media (max-width: 767px) {
                text-align: center;
            };
        };

        .toggles {
            .accordion-item {
                margin-bottom: 10px;

                &-header {
                    padding: 0px;
                    &:hover{
                        .accordion-item-btn {
                            color:$r;
                        };
                    };
                };
                &-btn {
                    @include font-style($raleway-m,20px,$bl-darck);
                    text-decoration: none;
                    padding: 0px;
                    width: 100%;
                    text-align: left;
                    &:focus {
                        color:$r;
                    };

                    .symbol {
                        padding: 12px 20px;
                        border-right: 1px solid $gray-super-light;
                        margin-right: 30px;
                    };
                };
                .toggler-text {
                    @include font-style($lato-r,14px,$bl-light);
                };
            };
        };
    };

    .hexagons-img {
        display: flex;
        position: relative;
        align-items: center;
        justify-content: center;

        .left-hexagon {
            left: 0px;
            position: absolute;

            @media (min-width:320px) and (max-width: 389px) { 
                left: 0px;
                width: 40%;
            };
            @media (min-width:390px) and (max-width: 469px) { 
                left: 5%;
                width: 45%;
            };
            @media (min-width: 470px) and (max-width: 575px) { 
                left: 10%;
                width: 45%;
            };
            
            @media (min-width: 992px) and (max-width: 1199px) { 
                height: 250px;
            };
        };

        .right-hexagon {
            position: absolute;
            right: 0px;
            @media (min-width:320px) and (max-width: 389px) { 
                right: 0px;
                width: 40%;
            };
            @media (min-width:390px) and (max-width: 469px)  { 
                right: 5%;
                width: 45%;
            };
            @media (min-width: 470px) and (max-width: 575px) { 
                right: 10%;
                width: 45%;
            };  
            @media (min-width: 992px) and (max-width: 1199px) { 
                height: 250px;
            };

        };

        .center-hexagon-wrapper {
            display: flex;
            justify-content: center;
            position: relative;
            z-index: 1;


            @include hexagon (370px,  370px, $w, 0px);

            @media (max-width: 575px) { 
                @include hexagon (200px,  200px, $w, 0px);
            };
            @media (min-width: 470px) and (max-width: 575px) { 
                @include hexagon (240px,  240px, $w, 0px);
            };
            @media (min-width: 992px) and (max-width: 1199px) { 
                @include hexagon (300px,  300px, $w, 0px);
            };

            .center-hexagon {
                position: absolute;
                top:5px;
                left: 50%;
                transform: translateX(-50%);
                @media (max-width: 575px) { 
                   top: 3%;
                   width: initial;
                   height: 95%;
                };
                @media (min-width: 992px) and (max-width: 1199px) { 
                    top: 5px;
                    width: initial;
                    height: 290px;
                };
            };
        };
    };

    .scrollbar-wrapper {
        margin: 95px 0px;
        display: flex;
        justify-content: center;
        align-items: center;
        position: relative;
        @include scroll-bar (20px, 20px, $b, absolute, 0,0px);
        @media (max-width: 575px) { 
            @include scroll-bar (20px, 20px, $b, absolute, 0,0px,50%);
        };
        @media (min-width: 576px) and (max-width: 767px) {
            @include scroll-bar (20px, 20px, $b, absolute, 0,0px,30%);
        };
    };

    .flat-design-wrapper {
        text-align: center;
        margin-bottom: 100px;
        @media (max-width: 575px) { 
            margin-bottom: 20px;
        };
        @media (min-width: 768px) and (max-width: 991px) { 
            margin-bottom: 50px;
        };

        .item {
            color: $b;
            display: flex;
            cursor: pointer;
            text-decoration: none;
            flex-direction: column;
            @media (max-width: 575px) { 
                margin-bottom: 20px;
            };
            @media (min-width: 768px) and (max-width: 991px) { 
                margin-bottom: 30px;
            };

            &--icon {
                position: relative;
                margin-bottom:35px;
                @media (max-width: 575px) { 
                    margin-bottom: 5px;
                };
                @media (min-width: 768px) and (max-width: 991px) { 
                    margin-bottom: 20px;
                };
                @include hexagon(90px,90px,$w,auto);
                
                .hexagon {

                    border:1px solid $b;

                    &::after {
                        border-top:1px solid $b;
                        border-bottom:1px solid $b;
                    };
                    &::before {
                        border-top:1px solid $b;
                        border-bottom:1px solid $b;
                    };
                };

                .simbol {
                    font-size: 30px;
                    position: absolute;
                    top: 50%;
                    left:51%;
                    transform: translate(-50%, -50%);
                };

                &:hover {
                    color:$w;
                    @include hexagon(90px,90px,$r,auto);
                };
            };

            &--title {
                margin-bottom:28px;
                @include font-style ($raleway-m,20px);
                @media (max-width: 575px) { 
                    margin-bottom: 10px;
                };
                @media (min-width: 768px) and (max-width: 991px) { 
                    margin-bottom: 25px;
                };
            };

            &--text {
                line-height: 1.375;
                text-align: center; 
                @include font-style ($lato-r,16px,$bl-light);
            };
        };
    };
};