.contact-us {
    position: relative;
    padding-top: 110px;
    .introduce {
        padding: 0px 15px;
    };
    @include introduce(97px, 50px, $b, $b);
   
    @media  (max-width: 991px) { 
        padding-top: 50px;
        @include media-introduce();
    };
    .map-wrapper {
        width: 100%;
        bottom: -4px;
        position: relative;
        @media (max-width: 575px) { 
           display: flex;
           align-items: center;
           flex-direction: column;

        };
        @media (min-width: 576px) and (max-width: 767px) {
            display: flex;
            align-items: center;
            flex-direction: column;
        };

        .goggle-map {
            width: 100%;
        };

        .talk-buble-wrapper {
            left:20%;
            z-index: 1;
            bottom: 10%;
            position: absolute;
            transform: translate(-20%, -10%);
            @include font-style($lato-r, 16px, $w);
            @media (max-width: 575px) { 
                bottom: 50%;
                font-size: 15px;
                transform: translate(-20%, -50%);        
            };
            @media (min-width: 576px) and (max-width: 767px) {
                bottom: 50%;
                font-size: 15px;
                transform: translate(-20%, -50%);        
            };
            @media (min-width: 768px) and (max-width: 991px) {
                left:10%;
                bottom: 20%;
                font-size: 16px;
                transform: translate(-10%, -20%);        
            };
            .talk-buble {
                width: 300px;
                background: $bl-bg;
                position: relative;
                list-style-type: none;
                padding: 35px 45px 47px 25px;
                @media (max-width: 575px) { 
                    width: 220px;
                    padding: 16px 15px 17px 15px;
                };
                @media (min-width: 576px) and (max-width: 767px) {
                    width: 220px;
                    padding: 16px 15px 17px 15px;
                };
                &:before {
                    color:$w;
                    width: 0;
                    height: 0;
                    top: 100%; 
                    right: 14px;
                    content: "";
                    position: absolute;
                    transform: rotate(-57deg);
                    border-right: 56px solid $bl-bg;
                    border-top: 14px solid transparent;
                    border-bottom: 14px solid transparent;
                };
                &-text {
                    color: $w;
                    margin-bottom: 12px;
                    &:last-child{
                        margin: 0px;
                    };
                };
            };
        };
    
        .message {
            z-index: 1;
            margin: 0px;
            bottom: 4px;
            width: 33.5%;
            right: 7.85%;
            background:$w;
            display: flex;
            position: absolute;
            flex-direction: column;
            padding: 50px 45px 47px 44px;
            transform: translateX(-17.85);

            @media (max-width: 575px) { 
                left: 0px;
                width: 80%;
                bottom: 4px;
                position: static;
                margin: 20px auto;
                padding:20px 15px 20px 15px;
                box-shadow: 0 0 10px $gray-super-light;

            };
            @media (min-width: 576px) and (max-width: 767px) {
                left: 0px;
                width: 80%;
                bottom: 4px;
                position: static;                
                margin: 20px auto;
                padding:20px 15px 20px 15px;
                box-shadow: 0 0 10px $gray-super-light;

            };
            @media (min-width: 768px) and (max-width: 991px) {
                right: 3%;
                bottom: 4px;
                width: 33.5%;
                padding: 20px;
            };
            
            &-title {
                margin-bottom: 50px;                
                @include font-style($raleway-m, 20px, $b, uppercase);
            };
            &-form {
                display: flex;
                flex-direction: column;

                .message-input {
                    outline: none;
                    padding: 11px;
                    margin-bottom: 17px;
                    border: 1px solid $gray-super-light;
                    @include font-style($lato-r, 16px, $bl-light, capitalize);
                    &:focus {
                        box-shadow: none ;
                        border-color: $gray-light;
                    };
                };
                .btn {
                    border: none;
                    outline: none;
                    padding: 12px 30px;
                    background: $bl-bg;
                    align-self: flex-end;
                    @include font-style($lato-r, 16px, $w, uppercase);
                    @media (max-width: 991px) { 
                        width: 100%;
                    };
                    &:focus {
                        outline: none;
                        box-shadow: none;
                        border-color:transparent;
                    };
                };
            };
        };
    };
    .map-wrapper {
        z-index: 0;
        
    };
};