.last-tweets {
    position: relative;
    background-size: cover;
    padding: 100px 15px 0px 15px ; 
    background: url("../img/last-tweets-bg.png"), no-repeat;
    .tweets {
        display: flex;
        align-items: center;
        flex-direction: column;

        &-icon {
            color:$r;
            font-size: 36px;
            margin-bottom: 25px;
        };

        &-text {
            width: 60%;
            margin: auto;
            display: flex;
            text-align: center;
            @include font-style($lato-r,16px, $w);
        };
    };
    @include scroll-bar (20px, 20px, $r, relative, 70px, -11px);
    @media (max-width: 575px) { 
        @include scroll-bar (20px, 20px, $r, relative, 70px, -11px,50%);
    };
    @media (min-width: 576px) and (max-width: 767px) {
        @include scroll-bar (20px, 20px, $r, relative, 70px, -11px,30%);
    };
};