.prices {
    padding: 110px 15px 100px 15px;
    @include introduce (100px, 50px, $b,$b);

    @media (max-width: 992px) { 
        @include media-introduce();
        padding: 50px 15px 50px 15px
    };

    .offer-item {
       
        &:hover {
            .item-card-price,.order-btn {
                color:$w;
                background: $r;
                .year {
                    color:$w;
                };
            };
            @media (max-width: 992px) { 
                margin-bottom: 50px;
            };
        };
    };

    .item-card {
        &-title {
            background:$b;
            @include font-style($raleway-m,20px,$w, uppercase);
        };

        &-price {
            transition: all .5s;
            @include font-style($lato-bl,50px,$bl-darck, uppercase);
            @media (min-width: 992px) and (max-width: 1199px) {
                @include font-style($lato-bl,40px,$bl-darck, uppercase);
            };
            .year{
                transition: all .5s;
                @include font-style($lato-r,16px,$bl-darck);
            };
        };

        &-datasheet {
            @include font-style($lato-r,16px,$bl-darck);
            @media (min-width: 992px) and (max-width: 1199px) {
                @include font-style($lato-r,12px,$bl-darck);
            };
        };

        &-order {
            background: $w;
            .order-btn {
                border: none;
                display: flex;
                padding: 13px 50px;
                transition: all .5s;
                background: $bl-darck;
                justify-content: center;
                @include font-style($raleway-r,16px,$w, uppercase);
                @media (min-width: 992px) and (max-width: 1199px) {
                    @include font-style($raleway-r,15px,$w, uppercase);
                    padding: 13px 30px;
                };
                &:focus {
                    box-shadow: none;
                };
            };
        };
    };
};