.services {
    padding: 100px 0px 0px 0px;
    background: #272727;
    @include introduce (90px, 48px, $w, #a4a4a4);
    @media (max-width: 575.98px) { 
        padding: 40px 0px 0px 0px;
        @include media-introduce();
    };
    @media (min-width: 576px) and (max-width: 767.98px) { 
        padding: 40px 0px 0px 0px;
        @include media-introduce();
    };

    .technology {

        .item {
            &-icon {
                position: relative;

                &-symbol {
                    color: #262626;
                    position: absolute;
                    left:50%;
                    top:50%;
                    transform: translate(-50%, -50%);
                    font-size: 25px;
                };
            };

            &-title {
                display: flex;
                align-items: center;
                margin-bottom: 30px;
                @include hexagon (60px, 60px, #a4a4a4, 0px);
                @include font-style ($raleway-m,20px,$w,uppercase);
                @media (max-width: 575.98px) { 
                    justify-content: center;
                    margin-bottom: 10px;
                };
                @media (min-width: 576px) and (max-width: 991.98px) {
                    text-align: center;
                    justify-content: center;
                    @include hexagon (50px, 50px, #a4a4a4, 0px);
                    @include font-style ($raleway-m,20px,$w,uppercase);
                };
                @media (min-width: 768px) and (max-width: 991.98px) {
                    margin-bottom: 10px;
                };
            };


            &-text {
                margin: 0px 0px 0px 30px;
                @media (min-width: 576px) and (max-width: 991.98px) {
                    margin: 0px 0px 0px 15px;
                };
            };

            &-description {
                @include font-style($lato-r,16px,#a4a4a4);
                padding: 30px 30px 30px 30px;
                margin-bottom: 50px;
                background: #343434;
                @media (max-width: 991.98px) { 
                    text-align: center;
                };
                @media (min-width: 768px) and (max-width: 991.98px) {
                    padding: 20px;
                    @include font-style($lato-r,15px,#a4a4a4);
                };
            };

            &:hover {
                .item-icon-symbol {
                    color:$w;
                };
                @include hexagon (60px, 60px, $r, 0px);
                @media (min-width: 576px) and (max-width: 991.98px) {
                    @include hexagon (50px, 50px,  $r, 0px);
                };

                .item-description {
                    color:$w;
                    background: #3d2329;
                };
            };

            @media (max-width: 991.98px) { 
               justify-content: center;
            };
        };
    };

    @include scroll-bar (20px, 20px, $r, relative, 70px, -11px);
    @media (max-width: 575.98px) { 
        @include scroll-bar (20px, 20px, $r, relative, 70px, -11px,50%);
    };
    @media (min-width: 576px) and (max-width: 767.98px) {
        @include scroll-bar (20px, 20px, $r, relative, 70px, -11px,30%);
    };
};
  