.skills {
    position: relative;
    padding: 18px 15px 100px 15px;
    @include introduce (100px, 50px, $b, $b);
    @media (max-width: 767px) { 
        @include media-introduce();
        padding: 18px 15px 20px 15px;
    };
    @media (min-width: 768px) and (max-width: 991px) {
        .introduce {
            margin-bottom: 50px;
        };
    };
    .infographic {
        &-item {
            display: flex;
            align-items: center;
            flex-direction: column;
            @media (min-width: 576px) and (max-width: 767px) {
                margin:20px 0px;
            };
        };

        &-title {
            margin: 25px 0px;
            @include font-style($raleway-m,20px, $b, uppercase);
        };

        &-description {
            text-align: center;
            @include font-style ($lato-r, 16px,$bl-light);
        };
    };
};