.slider-wrapper {
    height: 100%;
    position: relative;
    
    
};

.carousel {
    
    
    &-img {
        filter: brightness(30%);
        transition: .2s all;
    };

    &:hover {
        .carousel-img {
            filter: brightness(100%);
        }
    }
    
    &-caption {
        position: absolute;
        top:55%;
        transform: translateY(-55%);
        width: 71%;
        margin: 0 auto;
    
      
        &-title {
            @include font-style($raleway-bo, 30px, $w);
            line-height: 1.2;
            text-align: center;
            margin-bottom: 45px;
    
            .decorate {
                color:$r;
            };
    
        };
    
        &-text {
            @include font-style($lato-r, 16px, $w);
            line-height: 1.375;
            text-align: center;
            margin-bottom: 50px;
        };
    
        .btn-wrapper {
           display: flex;
           justify-content: center;
    
           .stub {
                margin:0px 15px; //Use for more comfortable locate btn
            };
    
            .btn {
                @include font-style($raleway-m, 20px, $w, uppercase);
                background: #131313;
                padding: 17px 40px 18px 40px;
            
    
                &:hover {
                    background: $r;
                };
    
                &:focus {
                    outline: none;
                    box-shadow: none;
                };
    
            };
    
        };
    
    };
}


.carousel-control {

    &-prev {
        height: 50%;
        top: 50%;
        transform: translateY(-50%);
        font-size: 25px;

        &:hover {
            .carousel-controls {
                
                color:$r;            
            };

        };

    };

    &-next {
        
        height: 50%;
        top: 50%;
        transform: translateY(-50%);
        font-size: 25px;

        &:hover {
            .carousel-controls {
              
                color:$r;            
            };

        };

    };

};
