.social-media {
    display: flex;
    padding: 100px 0px 100px 0px;
    position: relative;
    justify-content: center;
    

    @media (max-width: 575px) { 
        padding: 50px 0px 50px 0px;
    };
    @media (min-width: 576px) and (max-width: 767px)  {
        padding: 50px 0px 50px 0px;
    };
    &:hover {
       .social-media-bg {
            filter: brightness(30%);
        };  
    };
    &-bg {
        top: 0px;
        left: 0px;
        width: 100%;
        height: 100%;
        object-fit: cover;
        position: absolute;
        filter: brightness(100%);
    };

    &-links {
        z-index: 1;
        display: flex;
        justify-self: center;
    
        .title {
            text-align: center;
            margin-bottom: 50px;
            @include font-style($raleway-bo, 30px, $w);
            .colored {
                color:$r;
            };
            @media (max-width: 575px) { 
                margin-bottom: 20px;
                @include font-style($raleway-bo, 25px, $w);
            };
            @media (min-width: 576px) and (max-width: 767px)  {
                margin-bottom: 20px;
                @include font-style($raleway-bo, 25px, $w);
            };
            @media (min-width: 768px) and (max-width: 991px) {
                margin-bottom: 30px;
                @include font-style($raleway-bo, 30px, $w);
            };
        };

        .link {
            display: flex;
            cursor: pointer;
            align-items: center;
            flex-direction: column;
            @media (max-width: 575px) {
               margin-bottom: 20px;
            };
            @media (min-width: 576px) and (max-width: 767px)  {
                margin-bottom: 30px;
            };
            
            
            @include hexagon(75px,75px,transparent, 0px);
            .hexagon {
                text-align: center;
                border-top:1px solid $r;
                border-bottom:1px solid $r;

                &::after {
                    border-top:1px solid $r;
                    border-bottom:1px solid $r;
                };
                &::before {
                    border-top:1px solid $r;
                    border-bottom:1px solid $r;
                };

                .simbol {
                    color: $r;
                    font-size: 20px;
                    position: absolute;
                    z-index: 1;
                    top: 50%;
                    left: 50%;
                    transform: translate(-50%, -50%);
                }
            };
            @media (max-width: 575px) {
                @include hexagon(45px,45px,transparent, 0px);
                .hexagon {
                    text-align: center;
                    border-top:1px solid $r;
                    border-bottom:1px solid $r;
    
                    &::after {
                        border-top:1px solid $r;
                        border-bottom:1px solid $r;
                    };
                    &::before {
                        border-top:1px solid $r;
                        border-bottom:1px solid $r;
                    };
    
                    .simbol {
                        color: $r;
                        font-size: 20px;
                        position: absolute;
                        z-index: 1;
                        top: 50%;
                        left: 50%;
                        transform: translate(-50%, -50%);
                    }
                };
            };

            &:hover {
                .hexagon {
                    background: $r;
                };
                .simbol {
                    color: $w;
                }
            };

            .info {
                margin-top: 40px;
                @include font-style ($lato-r,16px,$w);
                @media (max-width: 575px) {
                    margin-top: 10px;
                    @include font-style ($lato-r,15px,$w);
                };
                @media (min-width: 576px) and (max-width: 767px) {
                    margin-top: 10px;
                    @include font-style ($lato-r,15px,$w);
                };
                @media (min-width: 768px) and (max-width: 991px) {
                    margin-top: 25px;
                    @include font-style ($lato-r,16px,$w);
                };
            }
            
        };

        
    };
    @include scroll-bar (20px, 20px, $r, absolute, 0,-11px);
    @media (max-width: 575px) { 
        @include scroll-bar (20px, 20px, $r, absolute, 0,-11px,50%);
    };
    @media (min-width: 576px) and (max-width: 767px) {
        @include scroll-bar (20px, 20px, $r, absolute, 0,-11px,30%);
    };
};