// fonts
$lato-bl:'latoblack';
$lato-bo:'latobold';
$lato-l:'latolight';
$lato-r:'latoregular';
$mgope:'mgopen_modataregular';
$raleway-bo: 'ralewaybold';
$raleway-m: 'ralewaymedium';
$raleway-r:'ralewayregular';
$raleway-sb:'ralewaysemibold';

// collors
$w:#ffffff;
$r:#ff0036;
$b:#000000;