// fonts
$lato-bl:'latoblack';
$lato-bo:'latobold';
$lato-l:'latolight';
$lato-r:'latoregular';
$mgope:'mgopen_modataregular';
$raleway-bo: 'ralewaybold';
$raleway-m: 'ralewaymedium';
$raleway-r:'ralewayregular';
$raleway-sb:'ralewaysemibold';

// collors
$w:#ffffff;
$r:#ff0036;
$b:#000000;
$gray-light: #7f7f7f;
$btn-b:#131313;

$hover-darck-red:#3d2329;
$gray-darck:#5c5c5c;
$gray:#a4a4a4;
$gray-super-light:#e7e7e7;
$bl-darck:#262626;
$bl-bg:#272727;
$bl-bg-light:#343434;
$title-blog:#2e2e2e;
$icons-blog:#a2a2a2;
$bl-light:#505050;
$btn-darck:#131313;
$b:#000000;
$w:#ffffff;