<section class="about">
    <div class="introduce">
        <h5 class="introduce-title">
            about 
            <span class="colored"> creativia </span>
        </h5>
        <p class="introduce-text">
            Lorem ipsum dolor sit amet, consectetur 
            <span class="colored"> adipiscing elit.</span> 
            Integer sed magna vel velit dignissim luctus eu in urna. 
            Dapibus egestas turpis. 
        </p>
    </div>
    <div class="container">
        <div class="row">
            <div class="description  col-lg-6 col-md-12 col-sm-12 col-12 order-lg-1 order-md-2 order-sm-2 order-2">
                <p class="description-text">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut et dolor justo. Phasellus eu ligula ac nisl volutpat tincidunt. Vestibulum vitae rhoncus odio Fusce sed enim erat. Mauris dictum lorem eu tortor porta placerat. Suspendisse ac vestibulum 
                    eros. Nulla mi ipsum, consequat commodo condimentum vitae,  
                </p>
                <div class="toggles">
                    <div id="accordion">
                        <div class="accordion-item card">
                            <div class="accordion-item-header card-header" id="heading-one">
                                <button class="accordion-item-btn btn btn-link" data-toggle="collapse" data-target="#collapse-one" 
                                aria-expanded="false" aria-controls="collapseOne">
                                    <i class="symbol fas fa-plus-circle"></i> Who is creativia
                                </button>
                            </div>
                            <div id="collapse-one" class="collapse" aria-labelledby="heading-one" data-parent="#accordion">
                                <div class="toggler-text card-body">
                                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut et dolor justo. 
                                    Phasellus eu ligula ac nisl volutpat tincidunt. Vestibulum vitae rhoncus odio Fusce sed enim erat. 
                                    Mauris dictum lorem eu tortor porta placerat. Suspendisse ac vestibulum eros.
                                </div>
                            </div>
                        </div>
                        <div class="accordion-item card">
                            <div class="accordion-item-header card-header" id="headingTwo">
                                <button class="accordion-item-btn btn btn-link collapsed" data-toggle="collapse" data-target="#collapseTwo" 
                                aria-expanded="false" aria-controls="collapseTwo">
                                    <i class="symbol fas fa-plus-circle"></i> Experiences
                                </button>
                            </div>
                            <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordion">
                                <div class="toggler-text card-body">
                                    Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
                                </div>
                            </div>
                        </div>
                        <div class="accordion-item card">
                            <div class="accordion-item-header card-header" id="headingThree">      
                                <button class="accordion-item-btn btn btn-link collapsed" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                                    <i class="symbol fas fa-plus-circle"></i>
                                    Learn more
                                </button>
                            </div>
                            <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordion">
                            <div class="toggler-text card-body">
                                Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
                            </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="hexagons-img col-lg-6 col-md-12 col-sm-12 col-12 order-lg-2 order-md-1 order-sm-1 order-1">
                <img class="left-hexagon " src="./img/about__hexagon_bg3.png" alt="">
                <div class="center-hexagon-wrapper">
                    <div class="hexagon-wrapper">
                        <div class="hexagon"></div>
                        <img class="center-hexagon " src="./img/about__hexagon_bg1.png" alt="">
                    </div>
                </div>
                <img class="right-hexagon " src="./img/about__hexagon_bg2.png" alt="">
            </div>
        </div>
    </div>
    <div class="scrollbar-wrapper">
        <div class="scrollbar">
            <span class="scrollbar-side"></span>
            <div id="hex3" class="hexagon-wrapper">
                <div id="color3" class="hexagon"></div>
            </div>
            <span class="scrollbar-side"></span>
        </div>
    </div> 
    <div class="flat-design-wrapper container">
        <div class="info row">
            <a href ="#" class="item col-12 col-sm-6 col-md-3 col-lg-3">
                <div class="item--icon">
                    <div  class="hexagon-wrapper">
                        <div class="hexagon"></div>
                        <i class="simbol fas fa-heart"></i>
                    </div>
                </div>
                <h5 class="item--title">FLAT DESIGN</h5>
                <p class="item--text">
                    Lorem ipsum dolor sit amet cras vitae sodales ac nec prellentesque vivamus
                    eget mauris fusce sit amet  
                </p>
            </a>
            <a href="#" class="item col-12 col-sm-6 col-md-3 col-lg-3">
                <div class="item--icon">
                    <div  class="hexagon-wrapper">
                        <div class="hexagon"></div>
                         <i class="simbol fas fa-check-circle"></i>
                    </div>
                </div>
                <h5 class="item--title">RETINA READY</h5>
                <p class="item--text">
                    Lorem ipsum dolor sit amet cras vitae sodales ac nec prellentesque vivamus
                    eget mauris fusce sit amet  
                </p>
            </a>
            <a href="#" class="item col-12 col-sm-6 col-md-3 col-lg-3">
                <div class="item--icon">
                    <div  class="hexagon-wrapper">
                        <div class="hexagon"></div>
                        <i class="simbol fas fa-mobile-alt"></i>
                    </div>                   
                </div>
                <h5 class="item--title">RESPONSIVE</h5>
                <p class="item--text">
                    Lorem ipsum dolor sit amet cras vitae sodales ac nec prellentesque vivamus
                    eget mauris fusce sit amet  
                </p>
            </a>
            <a href="#" class="item col-12 col-sm-6 col-md-3 col-lg-3">
                <div class="item--icon">
                    <div  class="hexagon-wrapper">
                        <div class="hexagon"></div>
                        <i class="simbol fab fa-gripfire simbol"></i>
                    </div>                   
                </div>
                <h5 class="item--title">Clean & useful</h5>
                <p class="item--text">
                    Lorem ipsum dolor sit amet cras vitae sodales ac nec prellentesque vivamus
                    eget mauris fusce sit amet  
                </p>
            </a>
        </div>
    </div>
</section>