<div class="about container">
    <div class="introduce">
        <h5 class="introduce__title">
            about 
            <span class="introduce__title_colored"> creativia </span>
        </h5>

        <p class="introduce__text">
            Lorem ipsum dolor sit amet, consectetur 
            <span class="introduce__text_colored"> adipiscing elit.</span> 
            Integer sed magna vel velit dignissim luctus eu in urna. 
            Dapibus egestas turpis. 
        </p>
        
    </div>
    <div class="row">
        <div class="description col-6">

            <p class="description__text">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. 
                Ut et dolor justo. Phasellus eu ligula ac nisl volutpat tincidunt. 
                Vestibulum vitae rhoncus odio Fusce sed enim erat. 
                Mauris dictum lorem eu tortor porta placerat. 
                Suspendisse ac vestibulum eros. Nulla mi ipsum, 
                consequat commodo condimentum vitae, 
            </p>

            <div class="toggles">

                <div id="accordion">

                    <div class="card">
                        <div class="card-header" id="heading-one">
                            <h5 class="mb-0">
                                <button class="btn btn-link" data-toggle="collapse" data-target="#collapse-one" 
                                aria-expanded="false" aria-controls="collapseOne">
                                    <i class="fas fa-plus-circle"></i> Hwo is creativia
                                </button>
                            </h5>
                        </div>
                    
                        <div id="collapse-one" class="collapse" aria-labelledby="heading-one" data-parent="#accordion">
                            <div class="card-body">
                                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut et dolor justo. 
                                Phasellus eu ligula ac nisl volutpat tincidunt. Vestibulum vitae rhoncus odio Fusce sed enim erat. 
                                Mauris dictum lorem eu tortor porta placerat. Suspendisse ac vestibulum eros.
                            </div>
                        </div>
                    </div>
                    <div class="card">
                        <div class="card-header" id="headingTwo">
                        <h5 class="mb-0">
                            <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseTwo" 
                            aria-expanded="false" aria-controls="collapseTwo">
                                Разворачиваемая панель #2
                            </button>
                        </h5>
                        </div>
                        <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordion">
                        <div class="card-body">
                            Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
                        </div>
                        </div>
                    </div>
                    <div class="card">
                        <div class="card-header" id="headingThree">
                        <h5 class="mb-0">
                            <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                            Разворачиваемая панель #3
                            </button>
                        </h5>
                        </div>
                        <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordion">
                        <div class="card-body">
                            Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
                        </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
       
        <div class="hexagons-img col-6">
            <img class="left__hexagon" src="../img/about__hexagon_bg3.png" alt="">
            

            <div class="center__hexagon-wrapper">
                <div class="hexagon-wrapper">
                    <div class="hexagon"></div>
                    <img class="center__hexagon" src="../img/about__hexagon_bg1.png" alt="">
                </div>
            </div>
          
            <img class="right__hexagon" src="../img/about__hexagon_bg2.png" alt="">
        </div>
      
    </div>
    <div class="scrollbar">
            <span class="scrollbar_side"></span>
            <div id="hex3" class="hexagon-wrapper">
                <div id="color3" class="hexagon"></div>
            </div>
            <span class="scrollbar_side"></span>
    </div>
</div>
<script>

</script>