<section class="blog">
    <div class="introduce">
            <h5 class="introduce-title">
                our <span class="colored"> Blog </span>
            </h5>
            <p class="introduce-text">
                Lorem ipsum dolor sit amet, consectetur 
                <span class="colored"> adipiscing elit.</span> 
                Integer sed magna vel velit dignissim luctus eu in urna. 
                Dapibus egestas turpis. 
            </p>
    </div>
    <div class="container d-flex align-items-center flex-column">
        <div class="blog-item card">
            <div class="row m-0">
                <div class="blog-item-img col-md-4">
                    <img src="./img/blog-item-img.png" class="item-img">
                </div>
                <div class="col-md-8">
                    <div class="blog-item-body card-body">
                        <h5 class="blog-item-body-title card-title">Lorem ipsum dolor sit amet, consectetur </h5>
                        <p class="blog-item-body-icons card-text ">
                            <small class="info text-muted">
                                <span class="info-status">
                                    <i class="fas fa-user status"></i>admin
                                </span>
                                <span class="info-comment">
                                    <i class="fas fa-comment comment"></i>1205
                                </span>
                                <span class="info-viev">
                                    <i class="far fa-eye view"></i>1205
                                </span>
                            </small>
                        </p>
                        <p class="blog-item-body-text card-text">
                            Integer ornare libero nisi. Duis ac magna urna. 
                            Nulla facilisi. Phasellus at ante magna. Quisque nec porta nulla.
                            Suspendisse nec orci vel elit aliquet blandit in non orci. 
                            Vivamus posuere dui eget lacinia 
                            rutrum. Cum sociis natoque penatibus ...
                        </p>
                        <a href="#" class="btn btn-dark">view more</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="blog-item card">
            <div class="row m-0">
                <div class="blog-item-img col-md-4">
                    <img src="./img/blog-item-img2.png" class="item-img">
                </div>
                <div class="col-md-8">
                    <div class="blog-item-body card-body">
                        <h5 class="blog-item-body-title card-title">Lorem ipsum dolor sit amet, consectetur </h5>
                        <p class="blog-item-body-icons card-text ">
                            <small class="info text-muted">
                                <span class="info-status">
                                    <i class="fas fa-user status"></i>admin
                                </span>
                                <span class="info-comment">
                                    <i class="fas fa-comment comment"></i>1205
                                </span>
                                <span class="info-viev">
                                    <i class="far fa-eye view"></i>1205
                                </span>
                            </small>
                        </p>
                        <p class="blog-item-body-text card-text">
                            Integer ornare libero nisi. Duis ac magna urna. 
                            Nulla facilisi. Phasellus at ante magna. Quisque nec porta nulla.
                            Suspendisse nec orci vel elit aliquet blandit in non orci. 
                            Vivamus posuere dui eget lacinia 
                            rutrum. Cum sociis natoque penatibus ...
                        </p>
                        <a href="#" class="btn btn-dark">view more</a>
                    </div>
                </div>
            </div>
        </div>
        <p class="view-more">
            <a class="view-more-btn " data-toggle="collapse" href="#collapseExample" role="button" aria-expanded="false" aria-controls="collapseExample">
                <i class="fas fa-chevron-circle-down"></i>
            </a>
        </p>
        <div class="collapse" id="collapseExample">
            <div class="blog-item card">
                <div class="row m-0">
                    <div class="blog-item-img col-md-4">
                        <img src="./img/blog-item-img.png" class="item-img">
                    </div>
                    <div class="col-md-8">
                        <div class="blog-item-body card-body">
                            <h5 class="blog-item-body-title card-title">Lorem ipsum dolor sit amet, consectetur </h5>
                            <p class="blog-item-body-icons card-text ">
                                <small class="info text-muted">
                                    <span class="info-status">
                                        <i class="fas fa-user status"></i>admin
                                    </span>
                                    <span class="info-comment">
                                        <i class="fas fa-comment comment"></i>1205
                                    </span>
                                    <span class="info-viev">
                                        <i class="far fa-eye view"></i>1205
                                    </span>
                                </small>
                            </p>
                            <p class="blog-item-body-text card-text">
                                Integer ornare libero nisi. Duis ac magna urna. 
                                Nulla facilisi. Phasellus at ante magna. Quisque nec porta nulla.
                                Suspendisse nec orci vel elit aliquet blandit in non orci. 
                                Vivamus posuere dui eget lacinia 
                                rutrum. Cum sociis natoque penatibus ...
                            </p>
                            <a href="#" class="btn btn-dark">view more</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>