<section class="blog">
    <div class="introduce">
            <h5 class="introduce-title">
                our <span class="colored"> Blog </span>
            </h5>
    
            <p class="introduce-text">
                Lorem ipsum dolor sit amet, consectetur 
                <span class="colored"> adipiscing elit.</span> 
                Integer sed magna vel velit dignissim luctus eu in urna. 
                Dapibus egestas turpis. 
            </p>
    </div>
    <div class="container d-flex align-items-center flex-column">
        <div class="card">

            <div class="row no-gutters">
                <div class="col-md-4 card-img-wrapper">
                    <img src="./img/blog-item-img.png" class="card-img h-100" alt="...">
                    <div class="overlay w-100 h-100"></div>
                </div>
                <div class="col-md-8">
                    <div class="card-body">
                        <h5 class="card-title">Lorem ipsum dolor sit amet, consectetur </h5>
                        <p class="card-text ">
                            <small class="text-muted">
                                <span class="info">
                                    <i class="fas fa-user info-user"></i>admin
                                </span>
                                <span class="info comment">
                                    <i class="fas fa-comment info-comment"></i>1205
                                </span>
                                <span class="info view">
                                    <i class="far fa-eye info-view"></i>1205
                                </span>
                            </small>
                        </p>
                        <p class="card-text">
                            Integer ornare libero nisi. Duis ac magna urna. 
                            Nulla facilisi. Phasellus at ante magna. Quisque nec porta nulla.
                            Suspendisse nec orci vel elit aliquet blandit in non orci. 
                            Vivamus posuere dui eget lacinia 
                            rutrum. Cum sociis natoque penatibus ...
                        </p>
                        <a href="#" class="btn btn-dark">view more</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="card">

            <div class="row no-gutters">
                    <div class="col-md-4 card-img-wrapper">
                        <img src="./img/blog-item-img2.png" class="card-img h-100" alt="...">
                        <div class="overlay w-100 h-100"></div>
                    </div>
                    <div class="col-md-8">
                        <div class="card-body">
                            <h5 class="card-title">Lorem ipsum dolor sit amet, consectetur </h5>
                            <p class="card-text ">
                                <small class="text-muted">
                                    <span class="info">
                                        <i class="fas fa-user info-user"></i>admin
                                    </span>
                                    <span class="info comment">
                                        <i class="fas fa-comment info-comment"></i>1205
                                    </span>
                                    <span class="info view">
                                        <i class="far fa-eye info-view"></i>1205
                                    </span>
                                </small>
                            </p>
                            <p class="card-text">
                                Integer ornare libero nisi. Duis ac magna urna. 
                                Nulla facilisi. Phasellus at ante magna. Quisque nec porta nulla.
                                Suspendisse nec orci vel elit aliquet blandit in non orci. 
                                Vivamus posuere dui eget lacinia 
                                rutrum. Cum sociis natoque penatibus ...
                            </p>
                            <a href="#" class="btn btn-dark">view more</a>
                        </div>
                    </div>
            </div>

        </div>
        <p class="view-more">
            <a class="view-more-btn " data-toggle="collapse" href="#collapseExample" role="button" aria-expanded="false" aria-controls="collapseExample">
                <i class="fas fa-chevron-circle-down"></i>
            </a>
        </p>
        <div class="collapse" id="collapseExample">
            <div class="card">
                <div class="row no-gutters">
                    <div class="col-md-4 card-img-wrapper">
                        <img src="./img/blog-item-img2.png" class="card-img h-100" alt="...">
                        <div class="overlay w-100 h-100"></div>
                    </div>
                    <div class="col-md-8">
                        <div class="card-body">
                            <h5 class="card-title">Lorem ipsum dolor sit amet, consectetur </h5>
                            <p class="card-text ">
                                <small class="text-muted">
                                    <span class="info">
                                        <i class="fas fa-user info-user"></i>admin
                                    </span>
                                    <span class="info comment">
                                        <i class="fas fa-comment info-comment"></i>1205
                                    </span>
                                    <span class="info view">
                                        <i class="far fa-eye info-view"></i>1205
                                    </span>
                                </small>
                            </p>
                            <p class="card-text">
                                Integer ornare libero nisi. Duis ac magna urna. 
                                Nulla facilisi. Phasellus at ante magna. Quisque nec porta nulla.
                                Suspendisse nec orci vel elit aliquet blandit in non orci. 
                                Vivamus posuere dui eget lacinia 
                                rutrum. Cum sociis natoque penatibus ...
                            </p>
                            <a href="#" class="btn btn-dark">view more</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    

</section>