<section class="clients ">
    <div class="introduce">
        <h5 class="introduce-title">
            our 
            <span class="colored"> clients </span>
        </h5>

        <p class="introduce-text">
            Lorem ipsum dolor sit amet, consectetur 
            <span class="colored"> adipiscing elit.</span> 
            Integer sed magna vel velit dignissim luctus eu in urna. 
            Dapibus egestas turpis. 
        </p>
    </div>
  
       
    <div class="container row">
        <div class="clients-say d-flex col-6">
            <div class="client-say-carousel">
                <div id="carouselExampleCaptions" class="carousel slide" data-ride="carousel">
                
                    <div class="carousel-inner">
                        <div class="carousel-item active">
                            <h5 class="carousel-title">
                                happy clients say
                            </h5>
                            <p class="carousel-text">
                                Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                                Integer sed magna vel velit dignissim luctus eu in urna. 
                                Dapibus egestas turpis.
                            </p>
                            <div class="client">
                                <img src="./img/client-img.png" alt="" class="client-img">
                                <p class="client-name">
                                    amr srour
                                </p>
                            </div>
                            
                        </div>
                        <div class="carousel-item"> 
                            <h5 class="carousel-title">
                                happy clients say
                            </h5>
                            <p class="carousel-text">
                                Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                                Integer sed magna vel velit dignissim luctus eu in urna. 
                                Dapibus egestas turpis.
                            </p>
                            <div class="client">
                                <img src="./img/client-img.png" alt="" class="client-img">
                                <p class="client-name">
                                    buakaw parpramuk
                                </p>
                            </div>
                        </div>
                        <div class="carousel-item">
                            <h5 class="carousel-title">
                                happy clients say
                            </h5>
                            <p class="carousel-text">
                                Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                                Integer sed magna vel velit dignissim luctus eu in urna. 
                                Dapibus egestas turpis.
                            </p>
                            <div class="client">
                                <img src="./img/client-img.png" alt="" class="client-img">
                                <p class="client-name">
                                    jon snow
                                </p>
                            </div>
                        </div> 
                    </div>
                    <ol class="carousel-indicators">
                        <li data-target="#carouselExampleCaptions" data-slide-to="0" class="indicator active"></li>
                        <li data-target="#carouselExampleCaptions" data-slide-to="1" class="indicator"></li>
                        <li data-target="#carouselExampleCaptions" data-slide-to="2" class="indicator"></li>
                    </ol>
                </div>
            </div>
                    

        </div>


        <div class="clients-logos col-6">
            <div class="row h-100 d-flex justify-content-center">

                <div class="clients-logo col-5">
                    <div class="clients-icon">
                        <img src="./img/graphicriver-icon.png" alt="">
                    </div>
                    <span class="text">
                        graphicriver
                    </span> 
                </div>

                <div class="clients-logo col-5">
                    <div class="clients-icon">
                        <img src="./img/videoHive-icon.png" alt="">
                    </div>
                    <span class="text">
                        videohive
                    </span> 
                </div>

                <div class="clients-logo col-5">
                    <div class="clients-icon">
                        <img src="./img/photodune-icon.png" alt="">
                    </div>
                    <span class="text">
                        photodune
                    </span> 
                </div>

                <div class="clients-logo col-5">
                    <div class="clients-icon">
                        <img src="./img/codecanion-icon.png" alt="">
                    </div>
                    <span class="text">
                        codecanyon
                    </span> 
                </div>

            </div>
        </div>
    </div>
        
    <div class="scrollbar">
        <span class="scrollbar-side"></span>
        <div class="hexagon-wrapper">
            <div  class="hexagon"></div>
        </div>
        <span class="scrollbar-side"></span>
    </div>
    
</section>