<section class="contact-us">
    <div class="introduce">

        <h5 class="introduce-title">
            Find us 
            <span class="colored"> heare </span>
        </h5>
    
        <p class="introduce-text">
            Lorem ipsum dolor sit amet, consectetur 
            <span class="colored"> adipiscing elit.</span> 
            Integer sed magna vel velit dignissim luctus eu in urna. 
            Dapibus egestas turpis. 
        </p>
            
    </div>
    <div class="map-wrapper d-flex flex-column align-items-center order-0 order-sm-0 ">
        <iframe class="goggle-map" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d1276324.8191504888!2d31.258287473755487!3d27.963911006594294!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x14368976c35c36e9%3A0x2c45a00925c4c444!2z0JXQs9C40L_QtdGC!5e0!3m2!1sru!2sua!4v1553674396545" width="100%" height="578" frameborder="0" style="border:0" allowfullscreen></iframe>
    </div>
    <div class="wrapper container-fluid">
        <div class="talk-buble-wrapper">
            <ul class="talk-buble">
                <li class="talk-buble-text">egypt, creativia </li>
                <li class="talk-buble-text">Address: cairo 123</li>
                <li class="talk-buble-text">Phone: +0201091915171</li>
                <li class="talk-buble-text">Email: gfx3mr@gmail.com</li>
            </ul>
        </div>
            
        <div class="message-wrapprer d-flex flex-column align-items-end form-group order-1 order-sm-1 ">
            <h5 class="message-title w-100">send message</h5>
            <form action="#" class="w-100">
                <input class="form-control" type="text" placeholder="Name">
                <input type="email" class="form-control"  aria-describedby="emailHelp" placeholder="email">
                <input class="form-control form-control-sm" type="text" placeholder="Subject">
                <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
                <button type="submit" class="btn btn-dark">Submit</button>
            </form>
        </div>
    </div>
   
    
</section>
