<section class="last-tweets">
    <div class="tweets container">
        <div class="tweets-icon">
            <i class="fab fa-twitter"></i>
        </div>
        <p class="tweets-text">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer sed magna vel velit dignissim luctus eu in urna. Dapibus egestas turpis. 
        </p>
    </div>
    <div class="scrollbar-wrapper">
        <div class="scrollbar">
            <span class="scrollbar-side"></span>
            <div id="hex3" class="hexagon-wrapper">
                <div id="color3" class="hexagon"></div>
            </div>
            <span class="scrollbar-side"></span>
        </div>
    </div> 
</section>