<div class="portfolio">
    
    <div class="portfolio-title">
        portfolio
    </div>

    <div class="tab-panel">                    
        <ul class="nav nav-tabs d-flex justify-content-center" id="myTab" role="tablist">

            <li class="nav-item">
                <a class="nav-link active" id="all" data-toggle="tab" href="#all-tab" role="tab" aria-controls="all-tab" aria-selected="true">
                    All 
                </a>
            </li>

            <li class="nav-item">
                <a class="nav-link" id="illustration" data-toggle="tab" href="#illustration-tab" 

                role="tab"  aria-selected="false">
                    Illustration
                </a>
            </li>

            <li class="nav-item">
                <a class="nav-link" id="digital-art" data-toggle="tab" href="#digital-art-tab" 
                role="tab" aria-controls="digital-art-tab" aria-selected="false">
                    Digital Art 
                </a>
            </li>

            <li class="nav-item">
                <a class="nav-link" id="web-design" data-toggle="tab" href="#web-design-tab" 
                role="tab" aria-controls="web-design-tab" aria-selected="false">
                    Web design 
                </a>
            </li>

        </ul>
    </div>

    <div class="tab-content" id="myTabContent">

        <div class="tab-pane fade show active" id="all-tab" role="tabpanel" aria-labelledby="all">
            <div class="tab-pane-item">

                <img src="../img/tab-img1.png" alt="" class="tab-img">

                <button class="design-wrapper">
                    <i class="fas fa-plus"></i>
                    <p class = "text"> design name</p>
                </button>

            </div>
            <div class="tab-pane-item">
                <img src="../img/tab-img2.png" alt="" class="tab-img">
                <button class="design-wrapper">
                    <i class="fas fa-plus"></i>
                    <p class = "text"> design name</p>
                </button>
            </div>
            <div class="tab-pane-item">
                <img src="../img/tab-img3.png" alt="" class="tab-img">
                <button class="design-wrapper">
                    <i class="fas fa-plus"></i>
                    <p class = "text"> design name</p>
                </button>
            </div>
            <div class="tab-pane-item">
                <img src="../img/tab-img4.png" alt="" class="tab-img">
                <button class="design-wrapper">
                    <i class="fas fa-plus"></i>
                    <p class = "text"> design name</p>
                </button>
            </div>
            <div class="tab-pane-item">
                <img src="../img/tab-img5.png" alt="" class="tab-img">
                <button class="design-wrapper">
                    <i class="fas fa-plus"></i>
                    <p class = "text"> design name</p>
                </button>
            </div>
            <div class="tab-pane-item">
                <img src="../img/tab-img6.png" alt="" class="tab-img">
                <button class="design-wrapper">
                    <i class="fas fa-plus"></i>
                    <p class = "text"> design name</p>
                </button>
            </div>
            <div class="tab-pane-item">
                <img src="../img/tab-img7.png" alt="" class="tab-img">
                <button class="design-wrapper">
                    <i class="fas fa-plus"></i>
                    <p class = "text"> design name</p>
                </button>
            </div>
            <div class="tab-pane-item">
                <img src="../img/tab-img8.png" alt="" class="tab-img">
                <button class="design-wrapper">
                    <i class="fas fa-plus"></i>
                    <p class = "text"> design name</p>
                </button>
            </div> 
        </div>

        <div class="tab-pane fade" id="illustration-tab" role="tabpanel">
            <div class="tab-pane-item">

                <img src="../img/tab-img1.png" alt="" class="tab-img">

                <button class="design-wrapper">
                    <i class="fas fa-plus"></i>
                    <p class = "text"> design name</p>
                </button>

            </div>
            <div class="tab-pane-item">
                <img src="../img/tab-img2.png" alt="" class="tab-img">
                <button class="design-wrapper">
                    <i class="fas fa-plus"></i>
                    <p class = "text"> design name</p>
                </button>
            </div>
            <div class="tab-pane-item">
                <img src="../img/tab-img3.png" alt="" class="tab-img">
                <button class="design-wrapper">
                    <i class="fas fa-plus"></i>
                    <p class = "text"> design name</p>
                </button>
            </div>
            <div class="tab-pane-item">
                <img src="../img/tab-img4.png" alt="" class="tab-img">
                <button class="design-wrapper">
                    <i class="fas fa-plus"></i>
                    <p class = "text"> design name</p>
                </button>
            </div>
            <div class="tab-pane-item">
                <img src="../img/tab-img5.png" alt="" class="tab-img">
                <button class="design-wrapper">
                    <i class="fas fa-plus"></i>
                    <p class = "text"> design name</p>
                </button>
            </div>
            <div class="tab-pane-item">
                <img src="../img/tab-img6.png" alt="" class="tab-img">
                <button class="design-wrapper">
                    <i class="fas fa-plus"></i>
                    <p class = "text"> design name</p>
                </button>
            </div>
            <div class="tab-pane-item">
                <img src="../img/tab-img7.png" alt="" class="tab-img">
                <button class="design-wrapper">
                    <i class="fas fa-plus"></i>
                    <p class = "text"> design name</p>
                </button>
            </div>
            <div class="tab-pane-item">
                <img src="../img/tab-img8.png" alt="" class="tab-img">
                <button class="design-wrapper">
                    <i class="fas fa-plus"></i>
                    <p class = "text"> design name</p>
                </button>
            </div>
        </div>

        <div class="tab-pane fade" id="digital-art-tab" role="tabpanel" aria-labelledby="digital-art">
            <div class="tab-pane-item">

                <img src="../img/tab-img1.png" alt="" class="tab-img">

                <button class="design-wrapper">
                    <i class="fas fa-plus"></i>
                    <p class = "text"> design name</p>
                </button>

            </div>
            <div class="tab-pane-item">
                <img src="../img/tab-img2.png" alt="" class="tab-img">
                <button class="design-wrapper">
                    <i class="fas fa-plus"></i>
                    <p class = "text"> design name</p>
                </button>
            </div>
            <div class="tab-pane-item">
                <img src="../img/tab-img3.png" alt="" class="tab-img">
                <button class="design-wrapper">
                    <i class="fas fa-plus"></i>
                    <p class = "text"> design name</p>
                </button>
            </div>
            <div class="tab-pane-item">
                <img src="../img/tab-img4.png" alt="" class="tab-img">
                <button class="design-wrapper">
                    <i class="fas fa-plus"></i>
                    <p class = "text"> design name</p>
                </button>
            </div>
            <div class="tab-pane-item">
                <img src="../img/tab-img5.png" alt="" class="tab-img">
                <button class="design-wrapper">
                    <i class="fas fa-plus"></i>
                    <p class = "text"> design name</p>
                </button>
            </div>
            <div class="tab-pane-item">
                <img src="../img/tab-img6.png" alt="" class="tab-img">
                <button class="design-wrapper">
                    <i class="fas fa-plus"></i>
                    <p class = "text"> design name</p>
                </button>
            </div>
            <div class="tab-pane-item">
                <img src="../img/tab-img7.png" alt="" class="tab-img">
                <button class="design-wrapper">
                    <i class="fas fa-plus"></i>
                    <p class = "text"> design name</p>
                </button>
            </div>
            <div class="tab-pane-item">
                <img src="../img/tab-img8.png" alt="" class="tab-img">
                <button class="design-wrapper">
                    <i class="fas fa-plus"></i>
                    <p class = "text"> design name</p>
                </button>
            </div> 
        </div>

        <div class="tab-pane fade" id="web-design-tab" role="tabpanel" aria-labelledby="web-design">
            <div class="tab-pane-item">

                <img src="../img/tab-img1.png" alt="" class="tab-img">

                <button class="design-wrapper">
                    <i class="fas fa-plus"></i>
                    <p class = "text"> design name</p>
                </button>

            </div>
            <div class="tab-pane-item">
                <img src="../img/tab-img2.png" alt="" class="tab-img">
                <button class="design-wrapper">
                    <i class="fas fa-plus"></i>
                    <p class = "text"> design name</p>
                </button>
            </div>
            <div class="tab-pane-item">
                <img src="../img/tab-img3.png" alt="" class="tab-img">
                <button class="design-wrapper">
                    <i class="fas fa-plus"></i>
                    <p class = "text"> design name</p>
                </button>
            </div>
            <div class="tab-pane-item">
                <img src="../img/tab-img4.png" alt="" class="tab-img">
                <button class="design-wrapper">
                    <i class="fas fa-plus"></i>
                    <p class = "text"> design name</p>
                </button>
            </div>
            <div class="tab-pane-item">
                <img src="../img/tab-img5.png" alt="" class="tab-img">
                <button class="design-wrapper">
                    <i class="fas fa-plus"></i>
                    <p class = "text"> design name</p>
                </button>
            </div>
            <div class="tab-pane-item">
                <img src="../img/tab-img6.png" alt="" class="tab-img">
                <button class="design-wrapper">
                    <i class="fas fa-plus"></i>
                    <p class = "text"> design name</p>
                </button>
            </div>
            <div class="tab-pane-item">
                <img src="../img/tab-img7.png" alt="" class="tab-img">
                <button class="design-wrapper">
                    <i class="fas fa-plus"></i>
                    <p class = "text"> design name</p>
                </button>
            </div>
            <div class="tab-pane-item">
                <img src="../img/tab-img8.png" alt="" class="tab-img">
                <button class="design-wrapper">
                    <i class="fas fa-plus"></i>
                    <p class = "text"> design name</p>
                </button>
            </div> 
        </div>
    </div>
    <div class="scrollbar-wrapper">
        <div class="scrollbar">
            <span class="scrollbar-side"></span>
            <div id="hex3" class="hexagon-wrapper">
                <div id="color3" class="hexagon"></div>
            </div>
            <span class="scrollbar-side"></span>
        </div>
    </div> 
</div>


