<section class="prices">
    <div class="introduce">
        <h5 class="introduce-title">
            Plans<span class="colored"> Bestseller</span>
        </h5>
        <p class="introduce-text">
            Lorem ipsum dolor sit amet, consectetur 
            <span class="colored"> adipiscing elit.</span> 
            Integer sed magna vel velit dignissim luctus eu in urna. 
            Dapibus egestas turpis. 
        </p>
    </div>
    <div class="container">
        <div class="card-group row">
            <div class="offer-item col-12 col-sm-6 col-md-6 col-lg">
                <div class="item-card card text-center">
                    <h5 class="item-card-title card-header">Reseller</h5>
                    <p class="item-card-price card-body m-0">
                        199$ <span class="year">year</span> 
                    </p>
                    <ul class="item-card-datasheet list-group list-group-flush">
                        <li class="list-group-item ">CPU E3-1230 3.3GHz 8MB-V2</li>
                        <li class="list-group-item">HARD 500GB SATA 7200 RPM</li>
                        <li class="list-group-item">RAM 8GB DDR3 1333MHZ ECC</li>
                        <li class="list-group-item">Traffic 10 TB</li>
                        <li class="list-group-item">Connection 100 MB</li>
                        <li class="list-group-item">5IP</li>
                    </ul>
                    <div class="item-card-order card-body">
                        <a href="#" class="btn btn-primary order-btn">Oreder now </a>
                    </div>
                </div>
            </div>

            <div class="offer-item col-12 col-sm-6 col-md-6 col-lg col-xl">
                <div class="card text-center">
                    <h5 class="item-card-title card-header">Reseller</h5>
                    <p class="item-card-price card-body m-0">
                        199$ <span class="year">year</span> 
                    </p>
                    <ul class="item-card-datasheet list-group list-group-flush">
                        <li class="list-group-item ">CPU E3-1230 3.3GHz 8MB-V2</li>
                        <li class="list-group-item">HARD 500GB SATA 7200 RPM</li>
                        <li class="list-group-item">RAM 8GB DDR3 1333MHZ ECC</li>
                        <li class="list-group-item">Traffic 10 TB</li>
                        <li class="list-group-item">Connection 100 MB</li>
                        <li class="list-group-item">5IP</li>
                    </ul>
                    <div class="item-card-order card-body">
                        <a href="#" class="btn btn-primary order-btn">Oreder now </a>
                    </div>
                </div>
            </div>

            <div class="offer-item col-12 col-sm-6 col-md-6 col-lg col-xl">
                <div class="card text-center">
                    <h5 class="item-card-title card-header">Reseller</h5>
                    <p class="item-card-price card-body m-0">
                        199$ <span class="year">year</span> 
                    </p>
                    <ul class="item-card-datasheet list-group list-group-flush">
                        <li class="list-group-item ">CPU E3-1230 3.3GHz 8MB-V2</li>
                        <li class="list-group-item">HARD 500GB SATA 7200 RPM</li>
                        <li class="list-group-item">RAM 8GB DDR3 1333MHZ ECC</li>
                        <li class="list-group-item">Traffic 10 TB</li>
                        <li class="list-group-item">Connection 100 MB</li>
                        <li class="list-group-item">5IP</li>
                    </ul>
                    <div class="item-card-order card-body">
                        <a href="#" class="btn btn-primary order-btn">Oreder now </a>
                    </div>
                </div>
            </div>

            <div class="offer-item col-12 col-sm-6 col-md-6 col-lg col-xl">
                <div class="card text-center">
                    <h5 class="item-card-title card-header">Reseller</h5>
                    <p class="item-card-price card-body m-0">
                        199$ <span class="year">year</span> 
                    </p>
                    <ul class="item-card-datasheet list-group list-group-flush">
                        <li class="list-group-item ">CPU E3-1230 3.3GHz 8MB-V2</li>
                        <li class="list-group-item">HARD 500GB SATA 7200 RPM</li>
                        <li class="list-group-item">RAM 8GB DDR3 1333MHZ ECC</li>
                        <li class="list-group-item">Traffic 10 TB</li>
                        <li class="list-group-item">Connection 100 MB</li>
                        <li class="list-group-item">5IP</li>
                    </ul>
                    <div class="item-card-order card-body">
                        <a href="#" class="btn btn-primary order-btn">Oreder now </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>