<section class="prices">
    <div class="introduce">
        <h5 class="introduce-title">
            Plans<span class="colored"> Bestseller</span>
        </h5>

        <p class="introduce-text">
            Lorem ipsum dolor sit amet, consectetur 
            <span class="colored"> adipiscing elit.</span> 
            Integer sed magna vel velit dignissim luctus eu in urna. 
            Dapibus egestas turpis. 
        </p>
    </div>
    <div class="container">
        <div class="card-group row">

            <div class="offer-item col">
                <div class="card text-center">
                    <div class="card-header offer-title">
                        Reseller
                    </div>
    
                    <div class="card-body offer-price">
                        199$ <span class="year">year</span> 
                    </div>
    
                    <ul class="offer-datasheet list-group list-group-flush">
                        <li class="list-group-item ">
                            CPU E3-1230 3.3GHz 8MB-V2
                        </li>
                        <li class="list-group-item">
                            HARD 500GB SATA 7200 RPM
                        </li>
                        <li class="list-group-item">
                            RAM 8GB DDR3 1333MHZ ECC
                        </li>
                        <li class="list-group-item">
                            Traffic 10 TB
                        </li>
                        <li class="list-group-item">
                            Connection 100 MB
                        </li>
                        <li class="list-group-item">
                            5IP
                        </li>
                    </ul>
    
                    <div class="card-body offer-order">
                        <a href="#" class="btn btn-primary order">Oreder now</a>
                    </div>
        
                </div>
            </div>

            <div class="offer-item col">
                <div class="card text-center">
                    <div class="card-header offer-title">
                        Reseller
                    </div>
    
                    <div class="card-body offer-price">
                        199$ <span class="year">year</span> 
                    </div>
    
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item offer-datasheet">
                            CPU E3-1230 3.3GHz 8MB-V2
                        </li>
                        <li class="list-group-item offer-datasheet">
                            HARD 500GB SATA 7200 RPM
                        </li>
                        <li class="list-group-item offer-datasheet">
                            RAM 8GB DDR3 1333MHZ ECC
                        </li>
                        <li class="list-group-item offer-datasheet">
                            Traffic 10 TB
                        </li>
                        <li class="list-group-item offer-datasheet">
                            Connection 100 MB
                        </li>
                        <li class="list-group-item offer-datasheet">
                            5IP
                        </li>
                    </ul>
    
                    <div class="card-body offer-order">
                        <a href="#" class="btn btn-primary order">Oreder now</a>
                    </div>
        
                </div>
            </div>

            <div class="offer-item col">
                <div class="card text-center">
                    <div class="card-header offer-title">
                        Reseller
                    </div>
    
                    <div class="card-body offer-price">
                        199$ <span class="year">year</span> 
                    </div>
    
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item offer-datasheet">
                            CPU E3-1230 3.3GHz 8MB-V2
                        </li>
                        <li class="list-group-item offer-datasheet">
                            HARD 500GB SATA 7200 RPM
                        </li>
                        <li class="list-group-item offer-datasheet">
                            RAM 8GB DDR3 1333MHZ ECC
                        </li>
                        <li class="list-group-item offer-datasheet">
                            Traffic 10 TB
                        </li>
                        <li class="list-group-item offer-datasheet">
                            Connection 100 MB
                        </li>
                        <li class="list-group-item offer-datasheet">
                            5IP
                        </li>
                    </ul>
    
                    <div class="card-body offer-order">
                        <a href="#" class="btn btn-primary order">Oreder now</a>
                    </div>
        
                </div>
            </div>

            <div class="offer-item col">
                <div class="card text-center">
                    <div class="card-header offer-title">
                        Reseller
                    </div>
    
                    <div class="card-body offer-price">
                        199$ <span class="year">year</span> 
                    </div>
    
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item offer-datasheet">
                            CPU E3-1230 3.3GHz 8MB-V2
                        </li>
                        <li class="list-group-item offer-datasheet">
                            HARD 500GB SATA 7200 RPM
                        </li>
                        <li class="list-group-item offer-datasheet">
                            RAM 8GB DDR3 1333MHZ ECC
                        </li>
                        <li class="list-group-item offer-datasheet">
                            Traffic 10 TB
                        </li>
                        <li class="list-group-item offer-datasheet">
                            Connection 100 MB
                        </li>
                        <li class="list-group-item offer-datasheet">
                            5IP
                        </li>
                    </ul>
    
                    <div class="card-body offer-order">
                        <a href="#" class="btn btn-primary order">Oreder now</a>
                    </div>
        
                </div>
            </div>
        </div>
    </div>
</section>