<section class="product container">
        <div class="introduce">
            <h5 class="introduce-title">
                our 
                <span class="colored"> product features </span>
            </h5>
            <p class="introduce-text">
                Lorem ipsum dolor sit amet, consectetur 
                <span class="colored">adipiscing elit.</span>
                Integer sed magna vel velit dignissim luctus eu in urna. Dapibus egestas turpis. 
            </p>
        </div>


    <div class="row no-gutters">

        <div class="options order-1 col-12 order-md-1 col-sm-12 col-md-4">
            <div class="options-item-left">
                <span class="text">
                    Unlimited Color Options
                </span>

                <div class="options-item-icon">
                    <div  class="hexagon-wrapper">
                        <div class="hexagon"></div>
                        <i class="fas fa-check"></i>
                    </div>
                </div>
            </div>

            <div class="options-item-left">
                <span class="text">
                    Outstanding Support
                </span>
                <div class="options-item-icon">
                    <div  class="hexagon-wrapper">
                        <div class="hexagon"></div>
                        <i class="fas fa-check"></i>
                    </div>
                </div>
            </div>

            <div class="options-item-left">
                <span class="text">
                    Retina Ready
                </span>
                <div class="options-item-icon">
                    <div  class="hexagon-wrapper">
                        <div class="hexagon"></div>
                        <i class="fas fa-check"></i>
                    </div>
                </div>
            </div>
           
        </div>

        <div class="product-image order-2 order-md-2 col-12 col-md-4">
            <img class = "product-icon"  src="./img/product-features.png" alt="">

            <button class="byTheme" role="button" type="submit" value="Submit">
                free psd
            </button>
        </div>

        <div class="options order-3 order-md-3 col-12 col-sm-12 col-md-4">

            <div class="options-item-right">
                <div class="options-item-icon">
                    <div  class="hexagon-wrapper">
                        <div class="hexagon"></div>
                        <i class="fas fa-check"></i>
                    </div>
                </div>
                <span class="text">
                    Unlimited Color Options
                </span>
            </div>

            <div class="options-item-right">
                <div class="options-item-icon">
                    <div  class="hexagon-wrapper">
                        <div class="hexagon"></div>
                        <i class="fas fa-check"></i>
                    </div>
                </div>
                <span class="text">
                    Outstanding Support
                </span>
            </div>

            <div class="options-item-right">
                <div class="options-item-icon">
                    <div  class="hexagon-wrapper">
                        <div class="hexagon"></div>
                        <i class="fas fa-check"></i>
                    </div>
                </div>
                <span class="text">
                    Retina Ready
                </span>
            </div>
        </div>
    </div>
</section>