<section class="product container">
        <div class="features">
            <h5 class="features-title">
                our 
                <span class="colored"> product features </span>
            </h5>
            <div class="features-text">
                Lorem ipsum dolor sit amet, consectetur 
                <span class="colored">adipiscing elit.</span>
                Integer sed magna vel velit dignissim luctus eu in urna. Dapibus egestas turpis. 
            </div>
        </div>


    <div class="row">

        <div class="options col-4">
            <div class="options-item-left">
                <span class="text">
                    Unlimited Color Options
                </span>

                <div class="options-item-icon">
                    <div  class="hexagon-wrapper">
                        <div class="hexagon"></div>
                        <i class="fas fa-check"></i>
                    </div>
                </div>
            </div>

            <div class="options-item-left">
                <span class="text">
                    Outstanding Support
                </span>
                <div class="options-item-icon">
                    <div  class="hexagon-wrapper">
                        <div class="hexagon"></div>
                        <i class="fas fa-check"></i>
                    </div>
                </div>
            </div>

            <div class="options-item-left">
                <span class="text">
                    Retina Ready
                </span>
                <div class="options-item-icon">
                    <div  class="hexagon-wrapper">
                        <div class="hexagon"></div>
                        <i class="fas fa-check"></i>
                    </div>
                </div>
            </div>
           
        </div>

        <div class="product-image col-4">
            <img class = "product-icon"  src="./img/product-features.png" alt="">

            <button class="byTheme">
                free psd
            </button>
        </div>

        <div class="options col-4">

            <div class="options-item-right">
                <div class="options-item-icon">
                    <div  class="hexagon-wrapper">
                        <div class="hexagon"></div>
                        <i class="fas fa-check"></i>
                    </div>
                </div>
                <span class="text">
                    Unlimited Color Options
                </span>
            </div>

            <div class="options-item-right">
                <div class="options-item-icon">
                    <div  class="hexagon-wrapper">
                        <div class="hexagon"></div>
                        <i class="fas fa-check"></i>
                    </div>
                </div>
                <span class="text">
                    Outstanding Support
                </span>
            </div>

            <div class="options-item-right">
                <div class="options-item-icon">
                    <div  class="hexagon-wrapper">
                        <div class="hexagon"></div>
                        <i class="fas fa-check"></i>
                    </div>
                </div>
                <span class="text">
                    Retina Ready
                </span>
                
            </div>
        </div>
    </div>
</section>