<section class="services">

    <div class="introduce">
        <h5 class="introduce-title">
            our <span class="colored"> services </span>
        </h5>

        <p class="introduce-text">
            Lorem ipsum dolor sit amet, consectetur 
            <span class="colored"> adipiscing elit.</span> 
            Integer sed magna vel velit dignissim luctus eu in urna. 
            Dapibus egestas turpis. 
        </p>
    </div>

    <div class="container">
        <div class="technology row">
            <div class="item col-12 col-sm-6 col-md-6 col-lg-6">
                <div class="item-title">
                    <div class="item-icon">
                        <div  class="hexagon-wrapper">
                            <div class="hexagon"></div>
                            <i class="fas fa-code item-icon-symbol"></i>
                        </div>
                    </div>
                    <p class="item-text">development</p>
                </div>
                <p class="item-description">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                    Integer sed magna vel velit dignissim luctus eu in urna 
                    Dapibus egestas in turpis and Praesent faucibus 
                    nisl sit amet nulla sollicitudin.
                </p>
            </div>

            <div class="item col-12 col-sm-6 col-md-6 col-lg-6">
                <div class="item-title">
                    <div class="item-icon">
                        <div  class="hexagon-wrapper"> 
                            <div class="hexagon"></div>
                            <i class="fab fa-html5 item-icon-symbol"></i>
                        </div>
                    </div>
                    <p class="item-text">
                        HTML / CSS
                    </p>
                </div>
                <p class="item-description">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                    Integer sed magna vel velit dignissim luctus eu in urna 
                    Dapibus egestas in turpis and Praesent faucibus 
                    nisl sit amet nulla sollicitudin.
                </p>
            </div>

            <div class="item col-12 col-sm-6 col-md-6 col-lg-6">
                <div class="item-title">
                    <div class="item-icon">
                        <div  class="hexagon-wrapper">  
                            <div class="hexagon"></div>
                            <i class="fab fa-wordpress-simple item-icon-symbol"></i>
                        </div>
                    </div>
                    <p class="item-text">
                        Wordpress
                    </p>
                </div>
                <p class="item-description">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                    Integer sed magna vel velit dignissim luctus eu in urna 
                    Dapibus egestas in turpis and Praesent faucibus 
                    nisl sit amet nulla sollicitudin.
                </p>
            </div>

            <div class="item col-12 col-sm-6 col-md-6 col-lg-6">
                <div class="item-title">
                    <div class="item-icon">
                        <div  class="hexagon-wrapper">                            
                            <div class="hexagon"></div>
                            <i class="fas fa-mobile-alt item-icon-symbol"></i>
                        </div>
                    </div>   
                    <p class="item-text">
                        Applications
                    </p>
                </div>
                <p class="item-description">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                    Integer sed magna vel velit dignissim luctus eu in urna 
                    Dapibus egestas in turpis and Praesent faucibus 
                    nisl sit amet nulla sollicitudin.
                </p>          
            </div>

            <div class="item col-12 col-sm-6 col-md-6 col-lg-6">
                <div class="item-title">
                    <div class="item-icon">
                        <div  class="hexagon-wrapper">                           
                            <div class="hexagon"></div>
                            <i class="fas fa-pencil-alt item-icon-symbol"></i>
                        </div>
                    </div>
                    <p class="item-text">
                        ui / ux design
                    </p>
                </div>
                <p class="item-description">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                    Integer sed magna vel velit dignissim luctus eu in urna 
                    Dapibus egestas in turpis and Praesent faucibus 
                    nisl sit amet nulla sollicitudin.
                </p>              
            </div>

            <div class="item col-12 col-sm-6 col-md-6 col-lg-6">
                <div class="item-title">
                    <div class="item-icon">
                        <div  class="hexagon-wrapper">          
                            <div class="hexagon"></div>
                            <i class="fas fa-laptop item-icon-symbol"></i>
                        </div>
                    </div>
                    <p class="item-text">
                        Responsive layout
                    </p>
                </div>
                <p class="item-description">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                    Integer sed magna vel velit dignissim luctus eu in urna 
                    Dapibus egestas in turpis and Praesent faucibus 
                    nisl sit amet nulla sollicitudin.
                </p>
            </div>
        </div>
    </div>

    <div class="scrollbar">
        <span class="scrollbar-side"></span>
        <div class="hexagon-wrapper">
            <div  class="hexagon"></div>
        </div>
        <span class="scrollbar-side"></span>
    </div>
</section>