<section class="skills">
    <div class="introduce">
        <h5 class="introduce-title">
            our <span class="colored">Skills</span>
        </h5>
        <p class="introduce-text">
            Lorem ipsum dolor sit amet, consectetur 
            <span class="colored"> adipiscing elit.</span> 
            Integer sed magna vel velit dignissim luctus eu in urna. 
            Dapibus egestas turpis. 
        </p>
    </div>
    <div class="infographic container">
        <div class="row  justify-content-around">
            <div class="infographic-item col-12 col-sm-6 col-md col-lg">
                <img src="./img/90-percent.png" alt="" class="infografic-img">
                <h5 class="infographic-title">photoshop</h5>
                <p class="infographic-description"> Donec luctus tortor in placerat faucibus</p>
            </div>

            <div class="infographic-item col-12 col-sm-6 col-md col-lg">
                <img src="./img/80-percent.png" alt="" class="infografic-img">
                <h5 class="infographic-title">HTML</h5>
                <p class="infographic-description"> Donec luctus tortor in placerat faucibus</p>
            </div>

            <div class="infographic-item col-12 col-sm-6 col-md col-lg">
                <img src="./img/70-percent.png" alt="" class="infografic-img">
                <h5 class="infographic-title">php</h5>
                <p class="infographic-description"> Donec luctus tortor in placerat faucibus</p>
            </div>

            <div class="infographic-item col-12 col-sm-6 col-md col-lg">
                <img src="./img/90-percent.png" alt="" class="infografic-img">
                <h5 class="infographic-title">wordpress</h5>
                <p class="infographic-description"> Donec luctus tortor in placerat faucibus</p>
            </div>
        </div>
    </div>
</section>