<section class="skills">
    <div class="introduce">
        <h5 class="introduce-title">
            our <span class="colored">Skills</span>
        </h5>

        <p class="introduce-text">
            Lorem ipsum dolor sit amet, consectetur 
            <span class="colored"> adipiscing elit.</span> 
            Integer sed magna vel velit dignissim luctus eu in urna. 
            Dapibus egestas turpis. 
        </p>
    </div>
    <div class="infographic container">
        <div class="row d-flex justify-content-around">

            <div class="infographic-item col">
                <div class="infographic-icon">
                    <img src="./img/90-percent.png" alt="" class="infografic-img">
                </div>
                <div class="infographic-title">
                    photoshop
                </div>
                <div class="infographic-description">
                    Donec luctus tortor in placerat faucibus
                </div>
            </div>

            <div class="infographic-item col">
                <div class="infographic-icon">
                    <img src="./img/80-percent.png" alt="" class="infografic-img">
                </div>
                <div class="infographic-title">
                    HTML
                </div>
                <div class="infographic-description">
                    Donec luctus tortor in placerat faucibus
                </div>
            </div>

            <div class="infographic-item col">
                <div class="infographic-icon">
                    <img src="./img/70-percent.png" alt="" class="infografic-img">
                </div>
                <div class="infographic-title">
                    php
                </div>
                <div class="infographic-description">
                    Donec luctus tortor in placerat faucibus
                </div>
            </div>

            <div class="infographic-item col">
                <div class="infographic-icon">
                    <img src="./img/90-percent.png" alt="" class="infografic-img">
                </div>
                <div class="infographic-title">
                    wordpress
                </div>
                <div class="infographic-description">
                    Donec luctus tortor in placerat faucibus
                </div>
            </div>
        </div>
    </div>
</section>