<section class="slider-wrapper">
    <div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
        <div class="slider-content carousel-inner">
            <div class="slider-item carousel-item active">
                <img src="./img/slideShow_bg1.png" class="slider-img d-block w-100 h-100" alt="...">
                <div class="slider-description carousel-caption">
                    <h5 class="slider-description-title">why <span class="decorate">creativia ?</span></h5>
                    <p class="slider-description-text"> 
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. 
                        Ut et dolor justo. Phasellus eu ligula ac nisl volutpat tincidunt. 
                        Vestibulum vitae rhoncus odio Fusce sed enim erat. Mauris dictum 
                        lorem eu tortor porta placerat. Suspendisse ac vestibulum eros. 
                        Nulla mi ipsum, consequat commodo condimentum vitae,  
                    </p>
                    <div class="btn-wrapper">
                        <a href="#" class="btn btn-features">features</a>
                        <a href="#" class="btn btn-psd">Free PSD</a>
                    </div>
                </div>
            </div>
            <div class="slider-item carousel-item active">
                <img src="./img/slideShow_bg2.png" class="slider-img d-block w-100 h-100" alt="...">
                <div class="slider-description carousel-caption">
                    <h5 class="slider-description-title">why <span class="decorate">creativia ?</span></h5>
                    <p class="slider-description-text"> 
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. 
                        Ut et dolor justo. Phasellus eu ligula ac nisl volutpat tincidunt. 
                        Vestibulum vitae rhoncus odio Fusce sed enim erat. Mauris dictum 
                        lorem eu tortor porta placerat. Suspendisse ac vestibulum eros. 
                        Nulla mi ipsum, consequat commodo condimentum vitae,  
                    </p>
                    <div class="btn-wrapper">
                        <button type="button" class="btn btn-features">features</button>
                        <button type="button" class="btn btn-psd">Free PSD</button>
                    </div>
                </div>
            </div>
            <div class="slider-item carousel-item active">
                <img src="./img/slideShow_bg1.png" class="slider-img d-block w-100 h-100" alt="...">
                <div class="slider-description carousel-caption">
                    <h5 class="slider-description-title">why <span class="decorate">creativia ?</span></h5>
                    <p class="slider-description-text"> 
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. 
                        Ut et dolor justo. Phasellus eu ligula ac nisl volutpat tincidunt. 
                        Vestibulum vitae rhoncus odio Fusce sed enim erat. Mauris dictum 
                        lorem eu tortor porta placerat. Suspendisse ac vestibulum eros. 
                        Nulla mi ipsum, consequat commodo condimentum vitae,  
                    </p>
                    <div class="btn-wrapper">
                        <button type="button" class="btn btn-features">features</button>
                        <button type="button" class="btn btn-psd">Free PSD</button>
                    </div>
                </div>
            </div>
        </div>
        <a class="carousel-control-prev" href="#slide-show" role="button" data-slide="prev">
            <span class="carousel-controls fas fa-chevron-left" aria-hidden="true"> </span>
        </a>
        <a class="carousel-control-next" href="#slide-show" role="button" data-slide="next">
            <span class="carousel-controls fas fa-chevron-right" aria-hidden="true"> </span>
        </a>
    </div>
</section>
