<section class="social-media">
    <img src="./img/social-media-bg.png" alt="" class="social-media-bg">

    <div class="social-media-links container">
        <div class="row">
            <h5 class="title col-12"> Follow <span class="colored"> Creativia</span> </h5>
            
            <div class="col-6 col-sm-6 col-md-3 col-lg-3 link">
                <a href="#" class="hexagon-wrapper">
                    <div class="hexagon">
                        <i class="fab fa-facebook-f simbol"></i>
                    </div>
                </a>                   
                <span class="info"> 20000</span>
            </div>

            <div class="col-6 col-sm-6 col-md-3 col-lg-3 link">
                <a href="#" class="hexagon-wrapper">
                    <div class="hexagon">
                        <i class="fab fa-twitter simbol"></i> 
                    </div>
                </a>                   
                <span class="info"> 999000</span>
            </div>

            <div class="col-6 col-sm-6 col-md-3 col-lg-3 link">
                <a href="#" class="hexagon-wrapper">
                    <div class="hexagon">
                        <i class="fab fa-pinterest-p simbol"></i>
                    </div>
                </a>                   
                <span class="info">5000 </span>
            </div>

            <div class="col-6 col-sm-6 col-md-3 col-lg-3 link">
                <a href="#" class="hexagon-wrapper">
                    <div class="hexagon">
                        <i class="fab fa-google-plus-g simbol"></i>
                    </div>
                </a>   
                <span class="info"> 200</span>
            </div>

        </div>
    </div>

    <div class="scrollbar-wrapper">
        <div class="scrollbar">
            <span class="scrollbar-side"></span>
            <div class="hexagon-wrapper">
                <div class="hexagon"></div>
            </div>
            <span class="scrollbar-side"></span>
        </div>
    </div>

</section>