<section class="social-media">
    <img class="social-media-bg w-100 h-100" src="./img/social-media-bg.png" alt="#">
    <div class="social-media-links container">
        <h5 class="title">
            Follow 
            <span class="colored"> Creativia</span> 
        </h5>
        <div class="row">
            <div class="col-3 link">
                
                <div  class="hexagon-wrapper">
                    <div class="hexagon">
                        <i class="fab fa-facebook-f simbol"></i>
                    </div>
                </div>                   
                <span class="info"> 20000</span>
            </div>
            <div class="col-3 link">
                
                <div  class="hexagon-wrapper">
                    <div class="hexagon">
                        <i class="fab fa-twitter simbol"></i> 
                    </div>
                </div>                   
                <span class="info"> 999000</span>
            </div>
            <div class="col-3 link">
                
                <div  class="hexagon-wrapper">
                    <div class="hexagon">
                        <i class="fab fa-pinterest-p simbol"></i>
                    </div>
                    
                </div>                   
                <span class="info">5000 </span>
            </div>
            <div class="col-3 link">
               
                <div  class="hexagon-wrapper">
                    <div class="hexagon">
                        <i class="fab fa-google-plus-g simbol"></i>
                    </div>
                </div>   
                <span class="info"> 200</span>
            </div>
        </div>
    </div>
    <div class="scrollbar-wrapper">
        <div class="scrollbar">
            <span class="scrollbar-side"></span>
            <div id="hex3" class="hexagon-wrapper">
                <div id="color3" class="hexagon"></div>
            </div>
            <span class="scrollbar-side"></span>
        </div>
    </div>
</section>