<section class="teamwork">
    <div class="introduce">
        <h5 class="introduce-title">
            our <span class="colored">teamwork </span>
        </h5>

        <p class="introduce-text">
            Lorem ipsum dolor sit amet, consectetur 
            <span class="colored"> adipiscing elit.</span> 
            Integer sed magna vel velit dignissim luctus eu in urna. 
            Dapibus egestas turpis. 
        </p>
    </div>
    <div class="team container row ">

        <div class="team-member col">

            <div class="team-member-img">
                <div class="overlay">
                    <button class="icons">
                        <div  class="hexagon-wrapper">
                            
                            <div class="hexagon"></div>
                            <i class="fab fa-facebook-f logo"></i>
                        </div>
                    </button>
                    <button class="icons">
                        <div  class="hexagon-wrapper">
                            <div class="hexagon"></div>
                            <i class="fab fa-twitter logo"></i>
                        </div>
                    </button>
                    <button class="icons">
                        <div  class="hexagon-wrapper">
                            <div class="hexagon"></div>
                            <i class="fab fa-google-plus-g logo"></i>
                        </div>
                    </button>
                </div>
                <img src="./img/bruce-wane.png" alt="" class="member-picture">
            </div>
            <p class="team-member-name">
                Bruce Wayne
            </p>
            <p class="team-member-activity">
                Webdesigner
            </p>

        </div>

        <div class="team-member col">
            <div class="team-member-img">
                <div class="overlay">
                    <button class="icons">
                        <div  class="hexagon-wrapper">
                            
                            <div class="hexagon"></div>
                            <i class="fab fa-facebook-f logo"></i>
                        </div>
                    </button>
                    <button class="icons">
                        <div  class="hexagon-wrapper">
                            <div class="hexagon"></div>
                            <i class="fab fa-twitter logo"></i>
                        </div>
                    </button>
                    <button class="icons">
                        <div  class="hexagon-wrapper">
                            <div class="hexagon"></div>
                            <i class="fab fa-google-plus-g logo"></i>
                        </div>
                    </button>
                </div>
                <img src="./img/amr-srour.png" alt="" class="member-picture">
            </div>
            <p class="team-member-name">
                amr srour
            </p>
            <p class="team-member-activity">
                Webdesigner
            </p>
        </div>

        <div class="team-member col">
            <div class="team-member-img">
                <div class="overlay">
                    <button class="icons">
                        <div  class="hexagon-wrapper">
                            
                            <div class="hexagon"></div>
                            <i class="fab fa-facebook-f logo"></i>
                        </div>
                    </button>
                    <button class="icons">
                        <div  class="hexagon-wrapper">
                            <div class="hexagon"></div>
                            <i class="fab fa-twitter logo"></i>
                        </div>
                    </button>
                    <button class="icons">
                        <div  class="hexagon-wrapper">
                            <div class="hexagon"></div>
                            <i class="fab fa-google-plus-g logo"></i>
                        </div>
                    </button>
                </div>
                <img src="./img/sara-doe.png" alt="" class="member-picture">
            </div>
            <p class="team-member-name">
                sara doe
            </p>
            <p class="team-member-activity">
                Webdesigner
            </p>
        </div>

        <div class="team-member col">
            <div class="team-member-img">
                <div class="overlay">
                    <button class="icons">
                        <div  class="hexagon-wrapper">
                            
                            <div class="hexagon"></div>
                            <i class="fab fa-facebook-f logo"></i>
                        </div>
                    </button>
                    <button class="icons">
                        <div  class="hexagon-wrapper">
                            <div class="hexagon"></div>
                            <i class="fab fa-twitter logo"></i>
                        </div>
                    </button>
                    <button class="icons">
                        <div  class="hexagon-wrapper">
                            <div class="hexagon"></div>
                            <i class="fab fa-google-plus-g logo"></i>
                        </div>
                    </button>
                </div>
                <img src="./img/jon-de.png" alt="" class="member-picture">
            </div>
            <p class="team-member-name">
                jon de
            </p>
            <p class="team-member-activity">
                Webdesigner
            </p>
        </div>
    </div>
    <div class="scrollbar">
        <span class="scrollbar-side"></span>
        <div class="hexagon-wrapper">
            <div  class="hexagon"></div>
        </div>
        <span class="scrollbar-side"></span>
    </div>
</section>